<?xml version="1.0" encoding="UTF-8"?>

<launch>

    <!-- Map Server -->
    <arg name="map_file" default="$(find where_am_i)/maps/less_horrible.yaml"/>
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

    <!-- AMCL (Adaptive Monte-Carlo Localization) Node -->
    <node name="amcl" pkg="amcl" type="amcl" output="screen">
        <!-- In our simulation, the Hokuyo LiDAR sensor doesn't publish to "scan",
             but to "where_am_i/laser/scan", so we remap the topic.
             See http://wiki.ros.org/roslaunch/XML/remap -->
        <!-- <remap from="scan" to="where_am_i/laser/scan"/> -->

        <!-- Connect world ("map") frame to robot ("odom") frame. -->
        <param name="odom_frame_id" value="odom"/>
        <param name="odom_model_type" value="omni-corrected"/>
        <param name="base_frame_id" value="robot_footprint"/>
        <param name="global_frame_id" value="map"/>

        <!-- Additional parameters -->
        <param name="transform_tolerance" value="0.3"/>
        <param name="recovery_alpha_slow" value="0.001"/>
        <param name="recovery_alpha_fast" value="0.1"/>

        <!-- Set initial position estimate. -->
        <param name="initial_pose_x" value="2.136"/>
        <param name="initial_pose_y" value="-3.458"/>
        <param name="initial_pose_a" value="-1.585"/>

        <!-- Update more often. -->
        <param name="update_min_a" value="0.17453292519943295" />

        <!-- Attempting to fix localization errors. -->
        <param name="odom_alpha1" value="0.01" />
        <param name="odom_alpha2" value="0.01" />
        <param name="odom_alpha3" value="0.01" />
        <param name="odom_alpha4" value="0.01" />
    </node>

    <!-- Move Base -->
    <node name="move_base" pkg="move_base" type="move_base" respawn="false" output="screen">
        <!-- Remapping like we did for the AMCL node. -->
        <!-- <remap from="scan" to="where_am_i/laser/scan"/> -->

        <!-- Add planners. -->
        <param name="base_global_planner" value="navfn/NavfnROS" />
        <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS"/>

        <!-- Add configuration files. -->
        <rosparam file="$(find where_am_i)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find where_am_i)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find where_am_i)/config/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find where_am_i)/config/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find where_am_i)/config/base_local_planner_params.yaml" command="load" />
    </node>

</launch>
